/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Advanced Software and Web Developer Diploma
Course VIII: Visual Studio by Pitman Training / The Tech Academy
by Steven Partlow

Assigment 2: Create an ASP.NET Website that uses Git Version Control */

/* Assignment #2 1.ii) Customise and element of the page with CSS */
.heading {
    font-family: Georgia, 'Times New Roman', Times, serif; /* Use this font hierachy */
    color: darkblue; /* Set the text colour to dark blue */
    text-shadow: grey 2px 2px; /* Give the element an small grey text shadow */
    border: 5px solid black; /* A 5 pixel thick black border */
    box-shadow: grey 3px 3px; /* Give the bordered a grey shadow effect */
}

/* 1.iii) Create an animation using HTML, CSS anf JavaScript */

/* CSS for the container containing our animation */

#Animation_Container {
    margin-left: 33%; /* Move the animation container one third across the page */
    width: 400px; /* Make the container 400 by 400 pixels */
    height: 400px;
    position: relative; /* Position it relatie to other elements */
    background: yellow; /* Make the background this colour */
}

/* CSS for the actual animation itself */

#Animation {
    width: 50px; /* Make the container 50 by 50 pixels */
    height: 50px;
    position: absolute; /* Position it within the 'Animation_Container' */
    background-color: red; /* Make it this colour */
}
