@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Advanced Software and Web Developer Diploma 
     Course VIII: Visual Studio by Pitman Training / The Tech Academy 
     by Steven Partlow 
    
     Assigment 2: Create an ASP.NET Website that uses Git Version Control -->

<!DOCTYPE html>
<html>

<head>
    <!-- HEAD ELEMENT -->
    <meta charset="utf-8">
    <title>Visual Studio Course - Assignment #2</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<body>
    <!-- BODY ELEMENT -->

    <div class="text-center">
        <!-- DIV for Web page header element -->
        <!-- 1.ii) Customise an element of the page with CSS -->
        <h1 class="heading">Assignment #2 - Create a ASP.NET Website that uses Git Version Control</h1>
        <p><h2>by Steven Partlow</h2></p>
        <p>1.i) Create a basic HTML webpage and embed a video of one of your favorite music tracks from Youtube.</p>

        <!-- 1.i) Create a basic HTML webpage and embed a video of one of your favorite music videos from Youtube -->
        <div class="video">
            <!-- DIV for Youtube Video Embed -->
            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/Ro_z_OWPzVY">
            </iframe>
        </div> <!-- End DIV -->
        <!-- 1.iii) Create an animation using HTML, CSS and JavaScript -->
        <p>
            1.iii) Create a basic animation using JavaScript.<br><br>
            <button onclick="myMove()">Click Me</button>
            <div id="Animation_Container">
                <div id="Animation"></div> <!-- End of DIV -->
            </div> <!-- End of DIV -->
        </p>

    </div> <!-- End DIV -->

</body> <!-- End of BODY -->

</html> <!-- End of HTML Document -->
