@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Advanced Software and Web Developer Diploma 
     Course VIII: Visual Studio by Pitman Training / The Tech Academy 
     by Steven Partlow 
    
     Assigment 2: Create an ASP.NET Website that uses Git Version Control -->

<div class = "text-center">
    <!-- 1.ii) Customise an element of the page with CSS -->
    <h1 class = "heading">Assignment #2 - Create a ASP.NET Website that uses Git Version Control</h1>
</div>
<link href="~/css/site.css" rel="stylesheet" />