@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Advanced Software and Web Developer Diploma 
     Course VIII: Visual Studio by Pitman Training / The Tech Academy 
     by Steven Partlow 
    
     Assigment 2: Create an ASP.NET Website that uses Git Version Control -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<link href="~/css/site.css" rel="stylesheet" />